{% load static %}

<html>
  {% include 'page/header.html'%}

  <body class="skin-blue">
    <div id="wrapper">
      {% include 'page/navbar.html'%}
      <div class="content-wrapper">
        <section class="content-header">
          <h1>
              Clustering by Image similarity
          </h1>
        </section>
        <section class="content">
          <div class="row" style="margin-bottom: 10px;">
            <div class="col-lg-2">
              <h5><b>Word count</b></h5>
              {% autoescape off %}
              {% for t, c in wc %}
                  {{ t }} ({{ c }})<br/>
              {% endfor %}
              {% endautoescape %}
            </div>
            <div class="col-lg-10">
              <h5><b>Timeline</b></h5>
              {% include 'page/timeline_chart.html' with values=times p=idx %}
            </div>
          </div>
          {% include 'page/inner_cluster.html' with source=s keyword=key type=type ncluster=ncluster words_images=words_images %}
        </section>
      </div>
    </div>
  </body>
</html>
